<% task = locals[:task] %>
<% uid = locals[:uid] %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal<%= task.id %>_<%= uid %>">
  Update ready
</button>

<!-- Modal -->
<div class="modal fade" id="myModal<%= task.id %>_<%= uid %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update</h4>
      </div>

      <%= form_for(task, url: update_ready_task_path(task), method: :post) do |f| %>

          <div class="modal-body">

            <%= f.text_field :ready, :class=>"slider", data: {"slider-min" => 0, "slider-max" => 100, "slider-value" => task.ready} %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Save", class: "btn btn-primary" %>
          </div>

        <% end %>
    </div>
  </div>
</div>